<app-visuel-tris #vis></app-visuel-tris>
<table>
  <thead>
    <tr class="row">
      <th class="col-3">Image</th>
      <th class="col-3">Pseudo</th>
      <th class="col-3">Score</th>
      <th class="col-3">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" ng-model="collegue" *ngFor="let collegue of collegues | slice:0:vis.limite | selectFirstLetter:vis.debut">
        <td class="col-3" width="120px" height="80px"><img src="{{collegue.urlImg}}" width="70%"/></td>
        <td class="col-3">{{collegue.nom}}</td>
        <td class="col-3" [innerHTML]="collegue.note | colorScore"></td>
        <td class="col-3"><buttonsCollegue [pseudo]="collegue.nom"></buttonsCollegue></td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
