<h1>Top Collègues</h1>
<h3>Les meilleurs collègues du moment</h3>
<form class="container-fluid">
	<div class="row">
		<label for="pseudo" class="col-1 col-offset-1">Pseudo</label>
		<input name="pseudo" type="text" placeholder="Pseudo" class="col-9" #pseudo formNoValidate required/>
	</div>
	<div class="row">
		<label for="url_img" class="col-1 col-offset-1">Image</label>
		<input name="url_img" type="text" placeholder="Url Image" class="col-9" #imageUrl formNoValidate required/>
	</div>
	<button class="btn" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
</form>
<p class="col-12" [style.visibility]="affichageSubmit">Le collègue {{pseudo.value}} a été ajouté avec succès.</p>
<!-- Solution bootstrap :class="hidden" mais sans? -->
<!-- ICI VOTRE FORMULAIRE  {{collegues | json}}-->
<un-collegue *ngFor="let collegueVue of collegues" [collegue]="collegueVue"></un-collegue>